/*
 * @Description: 自定义主题颜色变量集
 * @Author: cb
 * @Date: 2018-09-17 16:47:52
 * @Last Modified by: zhegu
 * @Last Modified time: 2019-06-20 17:01:04
 */
/* color */
$main-color = #409EFF
$text-color = #333
$warning-color = #ff5252
$active-color = #3864bc
$next-text-color = #757575
$tip-text-color = #b8b8b8
$icon-color = #abd0f4
$tag-color = #e8f4ff
$disabled-color = #d8d8d8
$separate-line-color = #e7e7e7
$global-background = #fff
$class-background = #fafafa
$color-main-light = #E3CCA9;
$bg-color-default = #f5f6f7;
$color-gray-light = #6a6a6a;
$border-color-light = #eaeaea;