/*
 * @Description: 适配方案，直接使用vw作为css单位
 * @Author: cb
 * @Date: 2018-09-18 13:48:38
 * @Last Modified by: zhegu
 * @Last Modified time: 2019-06-19 14:21:07
 */

// 使用vw、wh作为屏幕适配方案 iPhone 6尺寸作为设计稿基准
$vw_base = 375

/*
 * 定义vw函数，在样式中使用，定义动态尺寸
 */
vw($px)
  $px / $vw_base * 100vw